.members-list
{
	list-style:none;
	/*background-color: greenyellow;*/
	border:1px solid #f4f4f4;
	min-height:500px;
}
.members-list-item
{
	float:right;
	margin: 10px;
	
}

.members-container
{
	margin:0 auto;
}
.members-pager-container
{
	margin:0 auto;
	width:300px;
}