.selectbox-container
{
	background-color: #f4f4f4;
	cursor:pointer;
	width: 200px;
	 /*box-shadow: 2px 2px 2px #000000;*/
}
.selectbox-list
{
	list-style:none;
	background-color: #f4f4f4;
	width:200px;
	border:1px solid grey;
	position:absolute;
	/*display:none;*/
}
.selectbox-list li
{
	padding:5px;
	padding:5px 20px;
	/*cursor:pointer;*/
}
.selectbox-list li.selected
{
	background-color:greenyellow;
}
.selectbox-header
{
	border:1px solid grey;
	/*cursor:pointer;*/
}
.selectbox-header img
{
	margin:6px;
}
.caption-container
{
	width: 170px;
	float:left;
/*background-color: greenyellow;*/
height: 30px;
display: block;
}
.caption
{
	
	float:right;
	margin:6px;
/*background-color: greenyellow;*/

}