<div style="background-color: #f4f4f4;height:300px;width:400px;position:fixed;bottom:0;" class="chat" data-receiver-email="{{receiverEmail}}" data-sender-email="{{senderEmail}}" ng-show="show">
    <input id="emailon" type="hidden" ng-model="receiverEmail">
    <header >
        <div class="close">X</div>
    </header>
    <div id="content"></div>
    <div style="position:absolute;bottom:0;left: 0;width: 100%;">
        <input type="text" ng-model="message" style="float:right;width: 75%;"/>
        <button ng-click="sendMessage()" style="float:right">שלח</button>
    </div>
</div>