<div class="field clearfix">
    <label ng-bind="label" />
    <div class="editor multiselectbox-container">
        <div class="multiselectbox-header clearfix" ng-click="toggleList()">
            <div class="value-container" ng-class="{'default-text': value=='בחר...'}">
                <span class="value" >{{value}}</span>
            </div>
            <div class="arrow-container">
                <img src="images/arrow-down.png">
            </div>
        </div>
        <div class="multiselectbox-wrapper" ng-show="showList">
        <ul class="multiselectbox-list clearfix" >
            <li on-last-repeat ng-repeat="item in items" ng-click="toggleItem(item)" ng-class="{'selected': item.selected}" ng-show="!($first&&hideFirstItem)">
                <input ng-checked="item.selected" type="checkbox" class="css-checkbox sme" />
                <label data-value="{{item.id}}" class="css-label sme depressed">{{item.name}}</label>
            </li>

        </ul>
        <button class="" ng-click="toggleList()" >סגור</button>
        </div>
    </div>
</div>
