.high-zIndex {
  z-index: 100; }

.img-uploader-container {
  background-color: #ffffff;
  cursor: pointer;
  width: 300px;
  box-shadow: 1px 1px 2px grey;
  font-size: 12px;
  height: 300px; }
  .img-uploader-container .header {
    height: 15%;
    background-color: #f4f4f4 !important;
    position: relative; }

.image-frame {
  height: 85%;
  position: relative; }

.btn-choose, .btn-delete {
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

img.uploaded-image, img.preloader {
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }
