.pager-list {
  list-style: none;
  padding: 15px;
  border: 1px solid #f4f4f4; }

.pager-list-item {
  float: right; }

.pager-list a {
  text-decoration: none !important;
  margin: 2px;
  background-color: #f4f4f4;
  padding: 5px; }

.pager-list a.selected {
  color: orange; }
