<div style="background-color: gainsboro">

    <div my-form style="height:700px;">

        <textbox label="שם" item="me.username" default-text="{{'הזן שם'}}"></textbox>
        <textbox label="אימייל" item="me.email" default-text="{{'הזן אימייל'}}" validation-rules="required, email"></textbox>

             <datebox label="נולדתי בתאריך:" item="me.birthday" age="me.age" ></datebox>

        <textbox-cities label="אני גר ב:" items="me.cities" validation-rules="required"></textbox-cities>

        <selectbox items="me.genders" label="אני: "></selectbox>

        <multiselectbox columns="3" label="התחביבים שלי: " items="me.habits"></multiselectbox>

        <selectbox items="me.zodiacs" label="המזל שלי: "></selectbox>

        <selectbox items="me.eyeColors" label="צבע עיניי: "></selectbox>

        <selectbox items="me.hairColors" label="צבע שיערי "></selectbox>
        <button class="" ng-click="updateMember()" >שמור</button>
    </div>
</div>
<div ></div>
