<div style="background-color: gainsboro">

    <div my-form style="height:700px;">

        <textbox label="שם" item="member.name" default-text="{{'הזן שם'}}"></textbox>
        <textbox label="אימייל" item="member.email" default-text="{{'הזן אימייל'}}" validation-rules="required, email"></textbox>

             <datebox label="נולדתי בתאריך:" item="member.birthday" age="member.age" ></datebox>

        <textbox-cities label="אני גר ב:" items="member.cities" validation-rules="required"></textbox-cities>

        <selectbox items="member.genders" label="אני: "></selectbox>

        <multiselectbox columns="3" label="התחביבים שלי: " items="member.habits"></multiselectbox>

        <selectbox items="member.zodiacs" label="המזל שלי: "></selectbox>

        <selectbox items="member.eyeColors" label="צבע עיניי: "></selectbox>

        <selectbox items="member.hairColors" label="צבע שיערי "></selectbox>
        <button class="" ng-click="updateMember()" >שמור</button>
    </div>
</div>
<div ></div>
